@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
    background-color: #190f0b;
    place-items: center;
    overflow: hidden;
    cursor: url(images/cursor.png), auto;
}


/* Desktop Nav */

.nav-container {
    background: #190f0b;
    height: 44px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav .desktop-nav li a {
    color: #cca680;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
    opacity: 1;
}

.link-logo {
    background: url("images/Untitled-1.png");
    display: block;
    background-position: center;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}

.link-search {
    background: url('images/search-icon.svg');
    display: block;
    background-position: center;
    background-size: 18px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-bag {
    background: url('images/bag-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-close {
    background: url('images/close-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}


/* Search Container */

.search-container.hide {
    opacity: 0;
    pointer-events: none;
}

.search-container {
    width: 60%;
    margin: 0 auto;
    padding: 0 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.search-container .link-search {
    position: absolute;
    left: 12px;
    opacity: 0.5;
}

.search-container .link-close {
    position: absolute;
    top: 0;
    right: 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 400ms;
}

.search-container .link-close:hover {
    opacity: 0.7;
}

.search-container form {
    width: 100%;
    margin: 0 auto;
}

.search-container form input {
    width: 100%;
    height: 44px;
    border: 0;
    outline: none;
    background: transparent;
    color: #cca680;
    font-family: "Inter", sans-serif;
    font-size: 17px;
}


/* Overlay */

.overlay.show {
    position: fixed;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}


/* Quick Links */

.search-container .quick-links {
    background: #cca680;
    position: absolute;
    left: 0;
    right: 0;
    padding: 16px 8px;
    border-radius: 0 0 16px 16px;
}

.search-container .quick-links h2 {
    text-transform: uppercase;
    font-size: 12px;
    color: #6e6e73;
    margin: 0 32px;
    margin-top: 20px;
}

.search-container .quick-links ul {
    list-style: none;
    margin-top: 12px;
}

.search-container .quick-links ul li a {
    display: inline-block;
    width: 100%;
    padding: 8px 50px;
    font-size: 14px;
    color: #190f0b;
    text-decoration: none;
    font-weight: 400;
}

.search-container .quick-links ul li a:hover {
    background: #f5f5f5;
    color: #2997ff;
}


/* Desktop Nav Animation */

.desktop-nav li {
    transition: all 400ms ease;
}

.desktop-nav.hide li {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}


/* Overlay Animation */

.overlay {
    transition: all 400ms ease;
}


/* Navigation Menu Items Transition Delay */

.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10) {
    transition-delay: 0ms;
}

.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9) {
    transition-delay: 30ms;
}

.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8) {
    transition-delay: 60ms;
}

.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7) {
    transition-delay: 90ms;
}

.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6) {
    transition-delay: 120ms;
}

.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5) {
    transition-delay: 150ms;
}

.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4) {
    transition-delay: 180ms;
}

.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3) {
    transition-delay: 210ms;
}

.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2) {
    transition-delay: 240ms;
}

.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1) {
    transition-delay: 270ms;
}


/* Search Container Animation */

.search-container form,
.search-container .link-search {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 300ms;
}

.search-container.hide form,
.search-container.hide .link-search {
    opacity: 0;
    transform: translateX(50px);
}

.search-container .link-search {
    opacity: 0.6;
}

.search-container.hide .link-close {
    opacity: 0;
}

.search-container .link-close {
    opacity: 0.5;
    transition: all 400ms ease;
    transition-delay: 400ms;
}

.search-container.hide .quick-links h2 {
    opacity: 0;
    transform: translateX(50px);
}

.search-container .quick-links h2 {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 100ms;
}

.search-container.hide .quick-links ul li {
    transform: translateX(60px);
    opacity: 0;
}

.search-container .quick-links ul li {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
}

.search-container .quick-links ul li:nth-of-type(1) {
    transition-delay: 120ms;
}

.search-container .quick-links ul li:nth-of-type(2) {
    transition-delay: 140ms;
}

.search-container .quick-links ul li:nth-of-type(3) {
    transition-delay: 160ms;
}

.search-container .quick-links ul li:nth-of-type(4) {
    transition-delay: 180ms;
}

.search-container .quick-links ul li:nth-of-type(5) {
    transition-delay: 200ms;
}


/* Hidden Items */

.mobile-nav,
.mobile-search-container {
    display: none;
}


/* Media Queries */

@media (max-width: 1100px) {
    .nav-container nav {
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .nav-container .desktop-nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #000;
        justify-content: start;
        overflow: hidden;
        z-index: -1;
        transition: all 1000ms ease;
    }
    .nav-container.active .desktop-nav {
        height: 100vh;
    }
    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 32px;
    }
    .nav-container .desktop-nav li:first-child {
        margin-top: 120px;
    }
    .nav-container .desktop-nav .link-logo,
    .nav-container .desktop-nav .link-search,
    .nav-container .desktop-nav .link-bag {
        display: none;
    }
    .nav-container .desktop-nav li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 100%;
        font-size: 17px;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 700ms ease;
    }
    .nav-container.active .desktop-nav li a {
        transform: translateY(0);
        opacity: 1;
    }
    /* Mobile Nav */
    nav .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
    }
    nav .menu-icon-container {
        width: 20px;
        height: 44px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    nav .menu-icon {
        position: relative;
        width: 100%;
    }
    nav .menu-icon .line-1,
    nav .menu-icon .line-2 {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #cca680;
        transition-property: transform, top;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }
    nav .menu-icon .line-1 {
        top: -4px;
    }
    nav .menu-icon .line-2 {
        top: 4px;
    }
    .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }
    .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }
    /* Bag Icon Animation */
    .nav-container.active .mobile-nav .link-bag {
        transform: translateY(8px);
        opacity: 0;
        pointer-events: none;
    }
    .nav-container .mobile-nav .link-bag {
        transition: all 1000ms ease;
    }
    /* Search Box */
    .mobile-search-container input {
        width: 100%;
        padding: 12px 36px;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        background: #190f0b;
        border: 0;
        color: #cca680;
        border-radius: 8px;
        outline: none;
    }
    .mobile-search-container {
        position: relative;
        padding: 0 16px;
        margin-top: -30px;
        border-bottom: 1px solid #616161;
        display: flex;
        padding-bottom: 16px;
        align-items: center;
        transform: rotateX(90deg);
        opacity: 0;
        transition: all 600ms ease;
    }
    .nav-container.active .mobile-search-container {
        transform: rotateX(0deg);
        margin-top: 10px;
        opacity: 1;
    }
    .mobile-search-container .link-search {
        position: absolute;
        left: 24px;
        opacity: .5;
        background-size: 15px;
    }
    /* Nav Move Up */
    .nav-container nav.move-up {
        margin-top: -40px;
    }
    /* Cancel Button */
    .mobile-search-container .cancel-btn {
        color: #2997ff;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        width: 0px;
        overflow: hidden;
        transition: all 400ms ease;
    }
    .mobile-search-container .search-bar.active+.cancel-btn {
        padding: 0 16px;
        width: 74px;
    }
    .mobile-search-container .search-bar {
        flex: 1;
    }
    /* Desktop Nav Move Down */
    nav .desktop-nav.move-down li:first-child {
        margin-top: 150px;
    }
    nav .desktop-nav.move-down li {
        opacity: 0;
        pointer-events: none;
    }
    /* Quick Links */
    .mobile-search-container .search-bar.active~.quick-links {
        top: 80px;
        opacity: 1;
        pointer-events: auto;
        transition-delay: 40ms;
    }
    .mobile-search-container .quick-links {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 32px;
        opacity: 0;
        pointer-events: none;
        top: 10px;
        transition: all 400ms ease;
    }
    .mobile-search-container .quick-links ul {
        list-style: none;
    }
    .mobile-search-container .quick-links h2 {
        color: #86868b;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
    }
    .mobile-search-container .quick-links ul li a {
        padding: 16px 0;
        display: inline-block;
        text-decoration: none;
        color: #cca680;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #616161;
        width: 100%;
    }
    .mobile-search-container .quick-links ul li a:hover {
        color: #2997ff;
    }
    /* Nav Animation */
    .nav-container nav {
        transition: all 400ms ease;
    }
}

input,
div,
span,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.25;
    }
    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 7.5vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #cca980, #5f4633);
    animation: rotate 20s infinite;
    opacity: 0.85;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
}

:root {
    --border: #cca980;
    --g1: #8b7459;
    --g2: #715e48;
    --g3: #46382d;
    --g4: #cca980;
}

.card {
    aspect-ratio: 1 / 1.6;
    border: 0.5vmin solid var(--border);
    cursor: pointer;
    position: relative;
    width: 56vmin;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
}

.card:hover>.card-content {
    background-position: -10% 0%;
}

.card:hover>.card-icon {
    color: white;
}

.card:hover>.card-content>.card-subtitle>.card-subtitle-word {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card:before {
    background: linear-gradient( 130deg, transparent 0% 22%, var(--g4) 50%, var(--g1) 72.5%, var(--g2) 80.25%, var(--g3) 100%);
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
}

.card-content {
    background-image: radial-gradient( rgba(255, 255, 255, 0.2) 8%, transparent 8%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: calc(100% - 10vmin);
    padding: 5vmin;
    position: relative;
    transition: background-position 350ms ease;
    width: calc(100% - 10vmin);
    z-index: 2;
}

.card-title,
.card-subtitle {
    color: #190f0b;
    font-family: "Anek Latin", sans-serif;
    font-weight: 400;
    margin: 0px;
}

.card-title {
    font-size: 6vmin;
    color: #190f0b;
}

.card-subtitle {
    font-size: 3vmin;
    margin-top: 2vmin;
}

.card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;
    transform: translateY(40%);
    transition: none;
}

.card-icon {
    bottom: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 7vmin;
    left: 0px;
    margin: 5vmin;
    transition: color 250ms ease;
    z-index: 2;
}


/* Add padding to containers */

.container {
    padding: 16px;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #190f0b;
    border-radius: 25px;
    color: #cca980;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #190f0b;
    outline: none;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #190f0b;
    margin-bottom: 25px;
}


/* Set a style for the submit button */

.registerbtn {
    background-color: #190f0b;
    font-size: large;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    color: #cca980;
    border-radius: 50px;
}

.registerbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

@keyframes changer {
    from {
        color: white;
    }
    to {
        color: #190f0b;
    }
}

::placeholder {
    color: #cca980;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cca980;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #cca980;
}

.user-icon {
    background: url('images/1946429.png');
    display: block;
    background-position: center;
    background-size: 18px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}